<div class="card">
    <div class="card-body card-detail">
        <h5 id="total-value" class="card-title"></h5>
        <h6 id="date" class="card-subtitle mb-2 text-muted"></h6>
        <h6 id="location" class="card-subtitle mb-2 text-muted"></h6>
    </div>
</div>
<div class="card">
    <div class="card-body card-detail">
        <h5 class="card-title">Produtos</h5>
        <ul id="products-list" class="list-group list-group-flush">
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-body card-detail">
        <h5 class="card-title">Galera</h5>
        <ul id="users-list" class="list-group list-group-flush">
        </ul>
    </div>
</div>