.historic-list {
    list-style: none;
    padding: 0px 0px 0px;
}

.historic-node {
    list-style: none;
    padding: 0px 0px 0px;   
}

.historic-card {
    margin: 10px 10px 10px;
    text-align: center;
}

.card-header > h5 {
    display: inline;
}

.card-header > span {
    display: inline;
    text-align: right;
}